.FilterBar{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content:flex-start;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    padding-left: 38px;
    padding-right: 38px;
    font-weight: 400;
    margin-left: 230px;
    overflow-x: hidden; 
}

.FilterBar button:focus{
    background-color: #2e2a2a;
}

.FilterBar::-webkit-scrollbar{
    display: none;
}

.FilterBar button{
    list-style: none;
    border: 1px solid lightgray;
    background-color: rgb(243, 241, 241);
    cursor: pointer;
    flex: 0 0 auto;
    padding: 6px 10px;
    border-radius: 10px;
    background: #f0f0f0;
    text-transform: capitalize;
    margin-right: 10px;
    color: #2e2a2a;
    font-size: 15px;
}
.FilterBar button:hover{
    background-color: #2e2a2a;
    border-color: #d8d7d7;
    color: #d8d7d7;
    font-weight: 500;
    cursor: pointer;
  }

  .FilterBar button:active{
    background-color: #2e2a2a;
    border-color: #d8d7d7;
    color: #d8d7d7;
    box-shadow: none;
  }

  .FilterBar button:focus{
    background-color: #2e2a2a;
    color: #d8d7d7;
    border-color: #d8d7d7;
  }




