.header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid lightgray;
}


.header_left{
    margin-left: 20px;

}

.header_logo{
    width: 120px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.header_right{
    /* position: absolute; */
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: space-between;
    right: 3%;
    margin-right: 20px;
}

.header_avatar{
    margin-left: 10px;
}

.header_icon{
    color: rgb(34, 32, 32);
}

.header_icon:hover{
    color: rgb(221, 9, 9);
    font-size: 30px !important;
    transition: all 0.3s;
}



.header_middle{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid #999999;
    border-radius: 15px;
    height: 40px;
}

.header_middle > input {
    flex: 1;
    border: none;
    padding-left: 15px;
}

.header_middle > input:focus{
    outline: none;
}

.header_middle > input::placeholder{
    letter-spacing: 0.1rem;
    font-weight: 200;
}



.header_input_icon{
    width: 11% !important;
    background-color: #fafafa;
    border: 1px solid rgb(148, 147, 147);
    color: gray;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 2px ;
}

.search_icon{
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid rgb(148, 147, 147);
    padding: 7px 10px 7px 15px;
    border-radius: 0px 14px 14px 0px;
    cursor: pointer;
}